<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  DB연동- DBCP초기화 및 DB설정 0427--> 
  <listener>
    <listener-class>jdbc.DBCPInitListener</listener-class>
  </listener>
  <context-param>
    <param-name>poolConfig</param-name>
    <param-value>
  	jdbcdriver=com.mysql.jdbc.Driver
  	jdbcUrl=jdbc:mysql://localhost:3307/board?characterEncoding=utf8&amp;serverTimezone=UTC
  	dbUser=scott
  	dbPass=tiger
  	validationQuery=select 1
  	minIdle=3
  	maxTotal=30
  	poolName=board
  	</param-value>
  </context-param>
  
  <!--  CharacterEncoding설정관련  Filter p588 0428 --> 
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern> 
  </filter-mapping>
  
  <!--  MVC관련 설정 P589 -->
  <servlet>
    <servlet-name>ControllerUsingURI</servlet-name>
    <servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/commandHandlerURI.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerUsingURI</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 로그인 체크 filter p613-614 -->
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/changePwd.do</url-pattern> 
  </filter-mapping>
  
</web-app>